<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Site</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        var selectedAppId;
        $.ajax({
            url: '/applications/me',
            type: 'GET',
            xhrFields: {
                withCredentials: true
            },
            success: function(data) {
                var applications = data.application_assignments;
                for(var i = 0; i < applications.length; i++) {
                    var app = applications[i];
                    $('#applications').append('<li class="button-style" data-app-id="' + app.application.id + '" data-app-instructions="' + app.application.instructions + '" data-app-details="' + app.application.description + '">' + app.application.name + '</li>');
                }
                // Add click event listener for each application
                $('#applications li').click(function() {
                    var appName = $(this).text();
                    var appDetails = $(this).data('app-details') || 'No details available';
                    var submissionDetails = $(this).data('app-instructions') || 'Submission:';
                    selectedAppId = $(this).data('app-id');
                    window.location.hash = 'app' + selectedAppId;
                    // Populate and show the modal
                    $('#appName').text(appName);
                    $('#appDetails').text(appDetails);
                    $('#submissionDetails').text(submissionDetails);
                    $('#appModal').show();

                    $.ajax({
                        url: '/application_submission?application_id=' + selectedAppId,
                        type: 'GET',
                        xhrFields: {
                            withCredentials: true
                        },
                        success: function(data) {
                            var submissions = data.submissions;
                            $('#appSubmissions').empty();
                            if (submissions.length > 0) {
                                $('#appSubmissions').append('<h3>Submissions</h3>');

                                for(var i = 0; i < submissions.length; i++) {
                                    var submission = submissions[i];
                                    var timestamp = new Date(submission.created_at + "Z").toLocaleString();
                                    var description = submission.submission;
                                    var thumbnails = '';
                                    for (var j = 0; j < submission.attachments.length; j++) {
                                        var attachment = submission.attachments[j];
                                        thumbnails += '<a href="/attachments/data/' + attachment + '"><img src="/attachments/data/' + attachment + '_thumbnail.jpg" alt="Thumbnail"></a>';
                                    }
                                    $('#appSubmissions').append('<div class="modal-box">' +
                                        '<span class="delete-icon" data-submission-id="' + submission.id +'">🗑️</span>'+
                                        '<p>Time: ' + timestamp + '</p>' +
                                        '<p>Submission: ' + description + '</p>' +
                                        thumbnails + 
                                        '</div>');
                                }
                                // Add a click event handler to the delete icons
                                $(document).on('click', '.delete-icon', function() {
                                    var submissionId = $(this).data('submission-id');

                                    $.ajax({
                                        url: '/application_submission/' + submissionId,
                                        type: 'DELETE',
                                        xhrFields: {
                                            withCredentials: true
                                        },
                                        success: function(data) {
                                            // Refresh the submissions
                                            location.reload();
                                        }
                                    });
                                });
                            }
                        }
                    });
                });

                // Check if the URL has a hash
                if (window.location.hash) {
                    var appId = window.location.hash.substring(4);
                    var app = $('#applications li[data-app-id="' + appId + '"]');
                    if (app.length) {
                        app.click();
                    }
                }
            },
            error: function(error) {
                console.log(error);
            }
        });

        // Close the modal when the user clicks on <span> (x)
        $('.close').click(function() {
            $('#appModal').hide();
            window.location.hash = '';
            $('#appSubmissions').empty(); // TODO should reset the whole modal
        });

        $('#submissionForm').on('submit', function(event) {
            event.preventDefault(); // Prevent the form from being submitted normally

            let formData = new FormData(event.target); // Gather the form data

            // Separate the file data from the rest of the form data
            let fileData = new FormData();
            let jsonData = {};
            jsonData['application_id'] = selectedAppId;
            for (let [key, value] of formData.entries()) {
                if (value instanceof File) {
                    // If no file is selected, skip the validations
                    if (value.name !== "") {
                        // Check the file size
                        if (value.size > 4 * 1024 * 1024) { // 4MB
                            alert('File is too large (4MB max)');
                            return;
                        }

                        // Check the file type
                        console.log(value.contentType)
                        if (value.type !== 'image/jpeg' && value.type !== 'image/png') {
                            alert('Invalid file type. Only JPEG and PNG are allowed.');
                            return;
                        }
                    }

                    fileData.append(key, value);
                    fileData.append('desc', formData.get('desc'));
                } else if (key !== 'desc'){
                    jsonData[key] = value;
                }
            }
            console.log(formData)
            // Send the file upload request
            $.ajax({
                url: '/upload_attachment',
                type: 'POST',
                data: fileData,
                processData: false, // Don't process the files
                contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                xhrFields: {
                    withCredentials: true
                },
                success: function(data, textStatus, jqXHR) {
                    if (typeof data.error === 'undefined') {
                        // Success so call function to process the form
                        console.log(data)
                        jsonData['attachments'] = JSON.stringify(data.uuids); // Assuming the response contains a 'uuids' property with the file UUIDs
                        console.log(jsonData)
                        // Send the JSON request
                        $.ajax({
                            url: '/application_submission',
                            type: 'POST',
                            data: JSON.stringify(jsonData),
                            contentType: 'application/json',
                            xhrFields: {
                                withCredentials: true
                            },
                            success: function(data, textStatus, jqXHR) {
                                if (typeof data.error === 'undefined') {
                                    alert('Form submitted successfully');
                                    location.reload();
                                } else {
                                    // Handle errors here
                                    console.log('ERRORS: ' + data.error);
                                }
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                // Handle errors here
                                console.log('ERRORS: ' + textStatus);
                            }
                        });
                    } else {
                        // Handle errors here
                        console.log('ERRORS: ' + data.error);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Handle errors here
                    console.log('ERRORS: ' + textStatus);
                }
            });
        });
    });

    async function logout(event) {
        event.preventDefault();

        $.ajax({
            url: '/auth/jwt/logout',
            type: 'POST',
            xhrFields: {
                withCredentials: true
            },
            success: function(data, textStatus, jqXHR) {
                window.location.href = '/login';
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseJSON.detail);
            }
        });
    }
    </script>
</head>
<body>
    <div class="box">
        <header>
            <h2>Hello {{ username }}</h2>
            <a href="#" onclick="logout(event)">Logout</a>
        </header>
        <main>
            <p>You are enrolled in the following challenges. Click to explore</p>
            <ul class="ulfix" id="applications"></ul>
        </main>
    </div>
    <!-- The Modal -->
    <div id="appModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <header>
                <span class="close">&times;</span>
                <h2 id="appName"></h2>
            </header>
            <main>
                <p id="appDetails">Some details about the application...</p>

                <div class="modal-box">
                    <form id="submissionForm">
                        <label id="submissionDetails" for="submission">Submission:</label>
                        <textarea id="submission" name="submission" rows="4" cols="50" placeholder="Paste your text here..."></textarea>
                        <label for="fileAttach">Attachments:</label>
                        <input type="file" id="fileAttach" name="fileAttach">
                        <!-- <input type="input" name="desc" id="desc" placeholder="Attachment description"> -->
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div id="appSubmissions"></div>
            </main>
        </div>
    </div>
</body>
</html>
